*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background:#f8f5f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

form{
    background:#ffffff;
    width:350px;
    padding:35px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    margin-bottom:25px;
    color:#6F4E37;
}

label{
    color:#6F4E37;
    font-weight:600;
}

input{
    width:100%;
    padding:12px;
    margin-top:8px;
    margin-bottom:18px;
    border:1px solid #d8cfc4;
    border-radius:8px;
    background:#faf8f6;
    font-size:15px;
}

input:focus{
    outline:none;
    border-color:#A67B5B;
    box-shadow:0 0 5px rgba(166,123,91,.3);
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#8B6B4A;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#6F4E37;
}